<h2>Recommendations</h2>


<% @stories.each do |story| %>
  <h3><%= story.headline %></h3>
  <%= image_tag(story.thumbnail)  if story.thumbnail %></br>
  URL: <%= link_to(story.url) %></br>
  <%= story.byline %></br>
  <%= story.abstract %></br>
  Keywords: <%= story.keywords.to_s %>
  <% story.books.each do |book| %>
    <%= book.title %>
    <%= image_tag(book.thumbnail) if book.thumbnail %>
    <%= link_to("Buy Now", book.buy_link)%>
  <% end %>


<% end %>

