<h1>Recommendations</h1>
<%= image_tag("https://media.giphy.com/media/3og0IMJcSI8p6hYQXS/giphy.gif") %>

<% @stories.each do |story| %>
  <h2><%= story.headline %></h2>
  <%= image_tag(story.thumbnail)  if story.thumbnail %></br>
  URL: <%= link_to(story.url) %></br>
  <%= story.byline %></br>
  <%= story.abstract %></br>
  <%= story.keywords.to_s %></br>
  <h3>Learn More About This Topic:</h3>
  <% story.books.each do |book| %>
    <p>
    <%= image_tag(book.thumbnail) if book.thumbnail %></br>
    <%= book.title %> - <%= link_to("Buy Now", book.buy_link) %></br>
    </p>
  <% end %>
  <hr>

<% end %>

